body {
    background-color: blueviolet; /** Test **/
}

.container{
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 15dvh;
    border-radius: 10px 50px 5px 5px; /* top-left, top-right, bottom-right, bottom-left*/
    background-color: red;
    padding: 20px;
    width: 200px;
    height: 400px;
    background: white;
}

.border-radius-box-values {
    margin: 50px;
    padding: 5px 15px;
    width: 200px;
}

button {
    border: 5px solid red;
}

